source_directories:
  - /home/bitrix/www
  - /home/bitrix/ext_www
  - /home/bitrix/db_dumps
  - /home/bitrix/.msmtprc
exclude_patterns:
  - /home/bitrix/bitrix/backup
  - /home/bitrix/www/bitrix/cache
  - /home/bitrix/www/bitrix/managed_cache
  - /home/bitrix/www/bitrix/stack_cache
  - /home/bitrix/www/bitrix/tmp
  - /home/bitrix/www/bitrix/html_pages
  - /home/bitrix/www/upload/resize_cache
  - /home/bitrix/ext_www/*/bitrix
  - /home/bitrix/ext_www/*/upload/
  - /home/bitrix/ext_www/*/images/
repositories:
  - label: {{ PROJECT }}
    path: ssh://{{ PROJECT }}@{{ SERVER_IP }}:{{ SERVER_PORT }}/mnt/backups/{{ PROJECT }}
one_file_system: false

encryption_passcommand: "echo ${BORG_PASSPHRASE}"

atime: false
ctime: true
birthtime: true

checkpoint_interval: 1800
chunker_params: 19,23,21,4095
retries: 0
retry_wait: 0
lock_wait: 3600
umask: 077

compression: lz4
archive_name_format: "{{ PROJECT }}-{now:%Y-%m-%d_%H-%M-%S}"

keep_daily: 7
keep_weekly: 4
keep_monthly: 6

#after_backup:
#  - date +%F > /mnt/backups/{{PROJECT}}/.full_last_success
#after_prune:
#  - borg compact {{PROJECT}}
on_error:
  - echo "Ошибка во время резервного копирования" >&2

files_cache: ctime,size
